<div id="heart-containers-application">
  {{#if noActor}}
  {{else}}
  <button data-action="toggle" class="icon"></button>
  <div class="hearts">
    {{#each hearts}}
    <span class="{{this}}"></span>
    {{/each}}
  </div>
  <div class="hearts temp">
    {{#each tempHearts}}
    <span class="{{this}}"></span>
    {{/each}}
  </div>
  {{/if}}
</div>
