/* HEART CONTAINERS */
#heart-containers {
  pointer-events: none;
  position: relative;
  left: 2rem;
  padding-left: 5px;
  min-width: 400px;

  button {
    pointer-events: all;
    position: absolute;
    left: -25px;
  }

  .hearts {
    --heart-size: 20px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    transition: all 250ms ease;

    .heart {
      transition: inherit;
      position: relative;
      text-shadow: 1px 1px 0 black;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      font-size: calc(var(--heart-size) - 4px);

      &.value {
        color: rgb(189, 49, 49);
      }

      &.black {
        color: rgb(68, 66, 66);
      }

      &.tempmax {
        color: rgb(187, 187, 58);
      }
    }

    &.temp .heart {
      color: rgb(79, 79, 233);
    }
  }

  &.active {
    button::before { content: "\f21e" }
  }

  &:not(.active) {
    button::before { content: "\f7a9" }

    .hearts {
      display: none;
    }
  }
}
